
  <div class="cover-container d-flex p-3 mx-auto flex-column">
    <main class="px-3">
      <h1>Flakes of wrath.</h1>
      <p class="lead">Plan winter trips in to the backcountry with smart forecasts and a proprietary avalanche prediction algorithm.</p>
      <p class="lead">
      <%= button_to "Log in with Google", '/auth/google_oauth2', class: "btn btn-lg btn-secondary fw-bold border-black bg-white text-black"  %>
      </p>
    </main>
  </div>


<%# <%= button_to "Log in with Google", '/auth/google_oauth2'  %>
<%# <%= link_to 'Avalanche safety resources', resources_path %> 