<h1> <%= @user.name %>'s Dashboard</h1>
<p> Favorite zone: <%= @user.favorite_zone %>



<%= button_to 'Add a new trip', new_users_trip_path, method: :get, local: true %>


<div class="container">
<%= render 'shared/upcoming_trips' %>
</div>

