<main class="px-3">
  <div class="cover-container d-flex p-3 mx-auto flex-column">
      <h1> <%= @user.name %>'s Dashboard</h1>
      <p> Favorite zone: <%= zone_id_to_name(@user.favorite_zone) %>
  </div>
  <div class="row">
    <div class="container col-md-4">
      <%= render 'shared/upcoming_trips' %>
    </div>
    <div class="container col-md-4">
      <%= render 'shared/area_detailed' %>
    </div>
  </div>
</main>

