<h1> Resources </h1>

<p> Flakes of wrath is just one tool to help you stay safer when you travel 
in the backcountry in winter. Your local avalanche center will have detailed 
forecasts and snowpack discussion. Always check the forecast with your local
avalanche center before you head out. </p>
<%= link_to 'View avalanche forecast on Avalanche.org', 'https://avalanche.org' %>
<p> Forecasts are just one aspect of safe winter backcountry travel. It's 
important to get in-person training so you can confirm that your observations
 in the field align with the forecasts and so you can confidently make judgement
 calls. The best way to do that is with an in-person avalanche safety course. In 
 the United States, the gold standard is the American Institute for Avalanche
 Research and Education. <p>
 <%= link_to 'Find upcoming AIARE courses near you', 'https://avtraining.org/upcoming-public-avalanche-training-courses/' %>
 <p> If you can't make it to an in-person course, we recommend completing the AvySavvy
 course through Avalanche.ca. It it is free and has a lot of useful and practical 
 information on safe backcountry travel. </p>
 <%= link_to 'Find upcoming AIARE courses near you', 'https://avysavvy.avalanche.ca/en-ca/' %>
