.masthead {
  background-size: cover; 
  min-height: 100vh;
  position: relative;
  color: black;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.5)
}

.card-bg {
    background-color: rgba(245, 245, 245, .5);
  }